/* General styles */
:root {
--bg:	#1e6438;	
--darker-green:	#1a5832;	
--body-bg:	#001e00;	
--title:	#bbb7b7;	
--font:	#bbdbb7b6;
--link: #bbdbb7;
}

body {
  background-color: var(--bg)!important;
  margin: 0;
  padding: 0;
}
.body-container{
  height: auto;
  margin: 0;
}
.col-10 {
  background-color: var(--body-bg); 
}

h1,h3,p{
  text-align: center;
}
h1,h3,h4.text, h1,h3,h4.sub-title  {
  color:var(--title) !important;
}
label, .label{
  color:var(--title) !important;
}
p{
  color: var(--font);
}
a{
  color: var(--link);
}
select {
  background-color: var(--body-bg) !important;
}
.registration-form,.input-form, .input-form select{
  background-color: var(--body-bg) !important;
  color: var(--body-bg);
}
.container.input-form label,
.container.input-form input,
.container.input-form select {
  background-color: var(--body-bg) !important;
  color: var(--body-bg);
}
.col.form-control {
  color: var(--title) !important;
}

.input-group.input-form input[type="text"],
.input-group.input-form input[type="number"],
.input-group.input-form span.input-group-text {
  background-color: var(--body-bg) !important;
}
.input-group.input-form span.input-group-text {
  color: var(--title);
}
select.form-select {
  color: var(--title);
}

.input-guest-disc-info .input-form {
  background-color: var(--body-bg) !important;
  color: var(--body-bg) !important;
}
.input-guest-disc-info label {
  background-color: var(--body-bg) !important;
  color: var(--title) !important;
}
.input-guest-disc-info input {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: var(--body-bg);
}
.container-fluid {
  padding: 0;
  margin: 0;
  
}


/* styles for outer columns*/

.outer-border{
  background-color:var(--bg);
  
}

/* Navbar styles */
.header-container {
  background-color:var(--bg);
  height: auto;

}
.navbar-nav {
  text-align: right;
  
}

.navbtn {
  margin-left: auto;
}

.navbar-brand {
  color:var(--title) !important;
  padding-left: 5%;
}

.navbar {
  background-color:var(--bg); /* Set your desired background color */
  width: 100%; /* Make the navbar full-width */
}

.navbar-nav .nav-item {
  display: inline-block; /* Make each menu item only as wide as its content */
}
.nav-bar-container{
  padding-right: 5%;
}

/* Footer styles */
.footer-container {
  position: relative;
  bottom: 0;
  background-color: var(--bg);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer-container .nav-link {
  color: var(--title);
}

/* Flight chart styles */
#select-table-and-option {
  padding-top: 10px;
}
#flight-chart-container {
  padding: 5px;
}
#flight-chart .label {
  font-family: sans-serif;
  fill: var(--title);
    
}
#switch-axis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
}

@media (max-width: 400px) {
  /* Reduce font size for labels */
  #flight-chart .label {
    font-size: x-small;
  }
  #table-names-dropdown,
  #option-names-dropdown {
    font-size: small;
    height: auto; 
  }

  /* Reduce font size for option names in both dropdowns */
  #table-names-dropdown option,
  #option-names-dropdown option {
    font-size: small;
  }
}
@media (max-width: 425px) {
  #switch-axis {
    font-size: small;
  }
  #table-names-dropdown{
    font-size:medium;
  }
  #body-container {
    height: auto;
    padding: 0;
  }
  #body-container svg {
    width: 100%;
    height: auto;
  }
}

path.domain {
  stroke: whitesmoke;
  stroke-width: 1px;
}

line.tick {
  stroke: whitesmoke;
  stroke-width: 1px;
}

.horizontal-line {
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 4;
}

.vertical-line {
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 4;
}




/* Message styles */
.success-message {
  color: green;
}

.error-message {
  color: red;
}


.changelog-body{
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: scroll;
  border: 1px solid var(--darker-green);
  padding: 10px;
  margin-bottom: 10px;
}