/* General styles */
body {
  background-color: #1e6438 !important;
  margin: 0;
  padding: 0;
}
.body-container{
  height: auto;
  margin: 0;
}
.col-10 {
  background-color: #000; 
}

h1,p{
  text-align: center;
}
h1.text {
  color: rgb(187, 183, 183) !important;
}
h4.text {
  color: rgb(187, 183, 183) !important;
}
.container-fluid {
  padding: 0;
  margin: 0;
  
}
/* styles for outer columns*/

.outer-border{
  background-color: #1e6438;
  
}

/* Navbar styles */
.header-container {
  background-color: #1e6438;
  height: auto;

}
.navbar-nav {
  text-align: right;
  
}

.navbtn {
  margin-left: auto;
}

.navbar-brand {
  color: rgb(187, 183, 183) !important;
  padding-left: 5%;
}

.navbar {
  background-color: #1e6438; /* Set your desired background color */
  width: 100%; /* Make the navbar full-width */
}

.navbar-nav .nav-item {
  display: inline-block; /* Make each menu item only as wide as its content */
}
.nav-bar-container{
  padding-right: 5%;
}

/* Footer styles */
.footer-container {
  position: relative;
  bottom: 0;
  background-color: #1e6438;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e6438;
  margin: 0;
}
.footer-container .nav-link {
  color: #000000;
}

/* Flight chart styles */
#select-table-and-option {
  padding-top: 10px;
}
#flight-chart-container {
  padding: 5px;
}
#flight-chart .label {
  font-family: sans-serif;
  fill: rgb(187, 183, 183);
  
}
#switch-axis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
}

@media (max-width: 400px) {
  /* Reduce font size for labels */
  #flight-chart .label {
    font-size: x-small;
  }
  #table-names-dropdown,
  #option-names-dropdown {
    font-size: small;
    height: auto; 
  }

  /* Reduce font size for option names in both dropdowns */
  #table-names-dropdown option,
  #option-names-dropdown option {
    font-size: small;
  }
}
@media (max-width: 425px) {
  #switch-axis {
    font-size: small;
  }
  #table-names-dropdown{
    font-size:medium;
  }
  #body-container {
    height: auto;
    padding: 0;
  }
  #body-container svg {
    width: 100%;
    height: auto;
  }
}

path.domain {
  stroke: whitesmoke;
  stroke-width: 1px;
}

line.tick {
  stroke: whitesmoke;
  stroke-width: 1px;
}

.horizontal-line {
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 4;
}

.vertical-line {
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 4;
}

.form-control:focus {
  background-color: black !important;
}



/* Message styles */
.success-message {
  color: green;
}

.error-message {
  color: red;
}


.changelog-body{
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}