<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/flightChart.js"></script>
  </head>
  <body>
    <h1>Hello World, welcome to discsDB's flight chart!</h1>
    <form id="select-table-and-option">  
      <select id="table-names-dropdown"></select>
      <select id="option-names-dropdown"></select>
      <button id="update-chart">update chart</button>
    </form>
    <div id="flight-chart"></div>
    <script>
      let formattedData = [];
      fetch('/table-names')
        .then(response => response.json())
        .then(tableNames => {
          const dropdown = document.querySelector('#table-names-dropdown');

          tableNames.forEach(tableName => {
            const option = document.createElement('option');
            option.value = tableName;
            option.text = tableName;
            dropdown.appendChild(option);
          });
        });

      const tableDropdown = document.querySelector('#table-names-dropdown');
      const optionDropdown = document.querySelector('#option-names-dropdown');

      tableDropdown.addEventListener('change', async (event) => {
        const selectedTable = event.target.value;
        const optionsResponse = await fetch(`/table-options?table=${selectedTable}`);
        const options = await optionsResponse.json();

        // Remove previous options
        optionDropdown.innerHTML = '';

        // Add new options
        options.forEach((option) => {
          const optionElement = document.createElement('option');
          optionElement.value = option;
          optionElement.textContent = option;
          optionDropdown.appendChild(optionElement);
        });
      });

        optionDropdown.addEventListener('change', async (event) => {
        const selectedTable = tableDropdown.value;
        const selectedOption = event.target.value;
        const response = await fetch(`/discs?table=${selectedTable}&category=${selectedOption}`);
        const data = await response.json();
        console.log(JSON.stringify(data));

       const transformedData = data.map((disc) => ({
          name: disc.Mold,
          speed: disc.Speed,
          glide: disc.Glide,
          turn: parseFloat(disc.Turn), // parseFloat() converts the string to a number
          fade: parseFloat(disc.Fade), // parseFloat() converts the string to a number
        }));
        drawChart(transformedData);
      });
     

  // Add event listener to update-chart button
  document.querySelector('#update-chart').addEventListener('click', () => {
    drawChart(data); // Call drawChart with formattedData
  });
    </script>
    <script>
  var discData = [
    {name: "Driver", speed: 12, glide: 5, turn: -1, fade: 3},
    {name: "Midrange", speed: 5, glide: 4, turn: 0, fade: 2},
    {name: "Putter", speed: 2, glide: 3, turn: 0, fade: 1}
  ];
  
</script>
  </body>
</html>
