<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module" src="flightChart.mjs" async defer></script>
    <script type="module" src="tableSelect.mjs"></script>
    <script type="module" src="flightChart.mjs"></script>
  </head>
  <body>
    <h1>Hello World, welcome to discsDB's flight chart!</h1>
    <form>
     <div class="mb-3">
          <select class="form-select form-select-lg mb-3 bg-dark" aria-label=".form-select-lg example" name="table" id="table-select"> 
            <option selected>Choose a table to input the discs into</option>
            <option value="silasdiscs">Silas</option>
            <option value="jcdiscs">JC</option>
            <option value="testdiscs">Test</option>
          </select>
        </div>
{{!-- select category --}}
        <div>
          <label for="category" class="form-label">Disc Category || Disc Collection </label>
          <select id="option-select" name="category" class="text-body bg-body"></select>
        </div>
        <button id="update-chart-btn" class="btn btn-success" >Update Chart</button>
    </form>
    <div id="flight-chart"></div>
  </body>
</html>
