<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/flightChart.js"></script>
  </head>
  <body>
    <h1>Hello World, welcome to discsDB's flight chart!</h1>
    <form id="select-table-and-option" style="display: flex; flex-direction: row;">
      <select class="form-select form-select-lg mb-3 bg-dark" id="table-names-dropdown" style="margin-right: 10px;">
        <option value="" selected>Please select a table to display</option>
      </select>
      <select class="form-select form-select-lg mb-3 bg-dark" id="option-names-dropdown">
      </select>
</form>
    <div id="flight-chart" >
      <div id="flight-chart-inner"></div>
    </div>

    <script>
      var discData = [
                      {name: "Driver", speed: 12, glide: 5, turn: -1, fade: 3, stability: 2, color: "blue"},
                      {name: "Midrange", speed: 5, glide: 4, turn: 0, fade: 2, stability: 2, color: "green"},
                      {name: "Putter", speed: 2, glide: 3, turn: 0, fade: 1, stability: 1, color: "red"}
                    ];
      drawChart(discData);
      let formattedData = [];
      fetch('/table-names')
        .then(response => response.json())
        .then(tableNames => {
          const dropdown = document.querySelector('#table-names-dropdown');

          tableNames.forEach(tableName => {
            const option = document.createElement('option');
            option.value = tableName;
            option.text = tableName;
            dropdown.appendChild(option);
          });
        });

      const tableDropdown = document.querySelector('#table-names-dropdown');
      const optionDropdown = document.querySelector('#option-names-dropdown');

      tableDropdown.addEventListener('change', async (event) => {
        const selectedTable = event.target.value;
        const optionsResponse = await fetch(`/table-options?table=${selectedTable}`);
        const options = await optionsResponse.json();

        // Remove previous options
        optionDropdown.innerHTML = '';

        // Add new options
        options.forEach((option) => {
          const optionElement = document.createElement('option');
          optionElement.value = option;
          optionElement.textContent = option;
          optionDropdown.appendChild(optionElement);
        });
      });

        optionDropdown.addEventListener('change', async (event) => {
        const selectedTable = tableDropdown.value;
        const selectedOption = event.target.value;
        const response = await fetch(`/discs?table=${selectedTable}&category=${selectedOption}`);
        const data = await response.json();
        {{!-- console.log(JSON.stringify(data)); --}}

       const transformedData = data.map((disc) => ({
          name: disc.Mold,
          speed: disc.Speed,
          glide: disc.Glide,
          turn: Number(disc.Turn), 
          fade: Number(disc.Fade),
          stability: (Number(disc.Turn) + Number(disc.Fade)),
          color: disc.Color,
        }));
        
        
        drawChart(transformedData);
      });
    </script>
  </body>
</html>
