<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
   
  </head>
   {{#if user}}
      <p>Welcome, {{user.nickname}}!</p>
      <!-- Render more elements for signed-in users here -->
    {{/if}}
  <body>
    <h1>this is a project by Silas and JC! we like frisbees</h1>
    
  </body>
</html>

<!-- front page should allow you to view by collection, type, or speed/stability desc -->