<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
   
  </head>
   {{#if user}}
      <p>Welcome, {{user.nickname}}!</p>
      <!-- Render more elements for signed-in users here -->
    {{/if}}
  <body>
    <h1>This is a project by Silas and JC! we like frisbees</h1>
    <p>This web application is intended to make geeking out over discs easier. This app is maintained and produced by Silas, 
        {{!-- check out the github for more technical information --}}
        Head over to the <a href="/flightchart">flightchart</a> to see what we bag
    </p>
  </body>
</html>

<!-- front page should allow you to view by collection, type, or speed/stability desc -->