<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
   
  </head>
   {{#if user}}
      <p>Welcome, {{user.nickname}}!</p>
      <!-- Render more elements for signed-in users here -->
    {{/if}}
  <body>
    <h1>This is a project by Silas and JC!</h1>
    <h2>We like frisbees</h2>
    <p>This web application is intended to make geeking out over discs easier. This app is maintained and produced by Silas, 
        {{!-- check out the github for more technical information --}}
        Head over to the <a href="/flightchart">flightchart</a> to see what we bag
    </p>
    <div class="about-me">
      <h3>About Silas</h3>
      <p>An avid disc golfer and former teacher, Silas found a passion for programming. When he isn't out on the course, Silas is programming. This project was created as a way to sharpen and apply his skills while also providing a valuable tool for fellow disc golfers. To learn more about Silas and his coding journey, or to contact him, please connect with him on <a href="https://www.linkedin.com/in/silas-dasilva-lunetta/">LinkedIn</a>.</p>
    </div>
    <div class="changelog">
      <h3>Changelog</h3>
      <div class="changelog-body">
          {{#each changelogLines}}
        <p>{{this}}</p>
        {{/each}}
      </div>
    </div>
  </body>
</html>
