<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>discs DB demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module">
      import apiCall from "/autocomplete";
      apiCall();
    </script>
    <script type="module" src="/tableSelect"></script>
  </head>
  <body>
    <h1>Hello World, welcome to discsDB, use this form to add discs to your database!</h1>
       {{#if user}}
      <p>Welcome, {{user.nickname}}!</p>
      <!-- Render more elements for signed-in users here -->
    {{/if}}
    <div id="status-message"></div>
    <!-- Look up the mold with API -->
    <form class="API-lookup-form" id="API-lookup-form" >
      <input class="bg-dark form-control" id="inputField" type="text" name="q" placeholder="Enter disc mold here" style="display: inline-block;">
      <button class="btn btn-success" id="api-autocomplete-btn" type="button" style="display: inline-block;">Lookup Mold</button>
    </form>

    <!-- Input additional information and add to db -->
   <form class="input-form" id="submit-to-db" action="/submit" method="POST">
      <div class="mb-3">
        <select class="form-select form-select-lg mb-3 bg-dark" aria-label=".form-select-lg example" name="table" id="table-select">
          <option selected>Choose a table to input the discs into</option>
        </select>
      </div>

      <!-- Select category -->
      <div class="input-form">
        <label for="category" class="form-label">Disc Category || Disc Collection </label>
        <select id="option-select" name="category" class="text-body bg-body"></select>
      </div>

      <!-- Color and stamp -->
      <div class="input-group input-form"> 
        <span class="input-group-text">Color, Stamp, and Weight</span>
        <input id="color" type="text" value="Pink" aria-label="Disc Color" class="form-control" name="color" placeholder="Color">
        <input id="stamp" type="text" value="Stock" aria-label="Stamp" class="form-control" name="stamp" placeholder="Stamp">
        <input id="input-weight" type="number" value="175" min="1" max="200" class="form-control"  aria-describedby="weightHelp" name="weight">          
      </div>


      <!-- Sleepyscale -->
      <div class="mb-3 input-form">
        <select type="number" value="10" class="form-select form-select-sm form-control" id="inputSleepyScale" aria-describedby="sleepyScaleHelp" name="sleepyscale">
          <option value="1">1 - Beat to Hades dog chew toy</option>
          <option value="2">2 - or under Beat to Hades dog chew toy</option>
          <option value="3">3 - or under Beat to Hades dog chew toy</option>
          <option value="4">4 - Beat up turnover disc with some evident war story wear</option>
          <option value="5">5 - Kinda beat, significant wear, has lost a good bit of its stability</option>
          <option value="6">6 - Typical used disc with the usual dings, scratches but still worthy</option>
          <option value="7">7 - Used with some minor dings or scuffs but still in</option>
          <option value="8">8 - Lightly used with very minimal wear</option>
          <option value="9">9 - Field tested or used for one or two rounds, no ink.</option>
          <option selected value="10">10 - Never thrown, no ink, brand new condition</option>
        </select>
      </div>

      <!-- Input mold/plastic/brand -->
      <div class="input-group">
        <span class="input-group-text">Disc Mold</span>
        <input type="text" class="form-control" id="inputMold" aria-label="mold" name="mold" placeholder="Mold">
        <input type="text" class="form-control" value="baseline" id="inputPlastic" aria-label="plastic" name="plastic" placeholder="Plastic">
        <input type="text" class="form-control" id="brand" aria-label="brand" name="brand" placeholder="Brand">
        <div id="moldHelp" class="form-text"></div>
      </div>
      <a class="text-success" href="https://www.wrightlife.com/plastic-types-and-descriptions/" target="_blank">Not sure what the plastic type is?</a>

      <!-- Flight numbers -->
      <div class="input-group">
        <span class="input-group-text">Flight Numbers</span>
        <input type="number" aria-label="Speed" step=".5" min="1" class="form-control" name="speed" placeholder="Speed">
        <input type="number" aria-label="Glide" step=".5" min="1" class="form-control" name="glide" placeholder="Glide">
        <input type="number" step=".5" aria-label="Turn" class="form-control" name="turn" placeholder="Turn">
        <input type="number" step=".5" aria-label="Fade" class="form-control" name="fade" placeholder="Fade">
      </div>
   
    
      <button type="submit" id="submit-btn" class="btn btn-success">Submit to database</button>

    </form>
    
  <script>
  const urlParams = new URLSearchParams(window.location.search);
  const success = urlParams.get('success');

  if (success === 'true') {
    const statusMessage = document.getElementById('status-message');
    statusMessage.textContent = 'Form submission successful!';
    // You can customize the styling of the status message here
    statusMessage.style.color = 'green';
  }
</script>
  </body>
</html>
