#flight-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

#flight-chart-inner {
  max-width: 70%;
  max-height: 70%;
}

  path.domain {
    stroke: whitesmoke;
    stroke-width: 1px;
  }

  /* Style for tick lines */
  line.tick {
    stroke: whitesmoke;
    stroke-width: 1px;
  }

  /* Style for tick labels */
  text {
    font-size: 12px;
    font-family: sans-serif;
    fill: whitesmoke;
  }

  /* Style for grid lines */
  .horizontal-line {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 4;
  }

  .vertical-line {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 4;
  }

  /* Media queries for larger screens */
@media only screen and (min-width: 768px) {
  text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  text {
    font-size: 24px;
  }
}
  
  
  