  #flight-chart {
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1px solid whitesmoke;
    position: relative;
    padding-bottom: 75%; /* adjust this value to set the aspect ratio */
  }
  #flight-chart-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  path.domain {
    stroke: whitesmoke;
    stroke-width: 1px;
  }

  /* Style for tick lines */
  line.tick {
    stroke: whitesmoke;
    stroke-width: 1px;
  }

  /* Style for tick labels */
  text {
    font-size: 12px;
    font-family: sans-serif;
    fill: whitesmoke;
  }

  /* Style for grid lines */
  .horizontal-line {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 4;
  }

  .vertical-line {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 4;
  }
  
  
  